* {
  margin: 0;
  padding: 0;
}
body {
  background: url("/assets/images/login_bg.jpg") no-repeat;
  background-size: cover;
}
.logo {
  margin-top: 30px;
}
.login {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 310px;
  background-color: rgb(255, 255, 255);
}
.title {
  margin: 18px auto;
  height: 30px;
  background: url("/assets/images/login_title.png") no-repeat center;
}
.layui-form {
  padding: 0 30px;
}
.fr {
  float: right;
}
.login .layui-form-item .layui-icon {
  position: absolute;
  margin: 10px;
}
.login .layui-input {
  padding-left: 30px;
}
#regiForm {
  display: none;
}
